<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
        .separador {
            height: 10vh;
        }
    </style>
</head>
<body>
<div class="col-md-6 text-right">


</div>
<div class="col-md-6 text-left">
    <legend class="col-md-6"><%= tempNombre %></legend>
    <form method="get" action="/api/salir">
        <button class="col-md-6 btn btn-danger">Salir</button>
    </form>
</div>
<div class="col-md-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <legend class="">CREACIÓN DE AUTOR</legend>

        </div>
        <div class="panel-body text-center">
            <form action="/api/autores/crear" method="post">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input name="nombre" type="text" class="form-control" id="nombre">
                </div>

                <div class="form-group">
                    <label for="apellidosId">Apellidos:</label>
                    <input name="apellidos" type="text" class="form-control" id="apellidosId">
                </div>
                <div class="form-group">
                    <label for="fechaId">Fecha nacimiento:</label>
                    <input type="date" name="fechaNacimiento" class="form-control" id="fechaId">
                </div>
                <div class="form-group">
                    <label for="numeroId">Numero de libros:</label>
                    <input type="number" name="numeroLibros" class="form-control" id="numeroId">
                </div>
                <div class="form-group">

                    <label for="ecuatorianoId" class="checkbox-inline">
                        <input id="ecuatorianoId" name="ecuatoriano" type="checkbox" >Ecuatoriano</label>
                </div>
                <button class="btn btn-success">Guardar</button>

            </form>
            <form action="/api/autores/ver">
                <button class="btn btn-danger reset"  >Cancelar</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>